*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}
body{
    background: #3d1010;
    color: #4fdc47;
    background-image: url('images/backgrd.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
  background-size: cover;
}
.container{
    margin: 100px;
    width: 50%;
    max-width: 700px;
}
.display{
    width: 100%;
    margin-top: 50px;
    margin-bottom: 30px;
    background: #fff;
    color: #40ff33;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 26px 20px;
    border-radius: 5px;
}
.container h1 span{
    color: #fbfbfb;
    border-bottom: 4px solid #73e085;
    padding-bottom: 7px;
}
.display img{
    width: 30px;
    cursor:pointer;
}
.display input{
    border: 0;
    outline: 0;
    font-size: 24px;
}
.container button img{
    width: 28px;
    margin-right: 10px;
}
.container button{
    border: 0;
    outline: 0;
    background: #5db44a;
    color: #ffffff;
    font-size: 22px;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 20px;

}
